<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#0081cb">
  <!-- PAGE settings -->
  <title>Tugas System Pakar</title>
  <meta name="author" content="Nurul Badriah">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>

<body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#00b0ff">
        <a class="navbar-brand text-center" href="#">Tugas Nurbad</a>
      </nav>
    </header>
<br><br><br>
<div role="main" class="container">
    <div class="text-left" >
        <form action="./api/v1/cari_data/" method="post">
            {% csrf_token %}
            <label><strong>Pilih Gejala Penyakit yang dirasakan</strong></label><br>
            <!--<input name="cari" class="form-control" type="text" /><br>-->
            {% for row in lists %}
                <div class="checkbox">
                    <label><input type="checkbox" name="cari" value="{{ row.id }}" > &nbsp;{{ row.nama_gejala }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary active p-2" style="background-color:#00b0ff;border:none"><i class="fa fa-search"></i> &nbsp;Cari Diagnosa Penyakit &nbsp;</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></body>

</html>